extends layout

include mixins/_about

block content
  +aboutUs()
  .container
    div#accordion.panel-group
    h1 Frequently Asked Questions
    .panel.panel-default
      .panel-heading
        h4.panel-title
          a(class="accordion-toggle" data-toggle="collapse" adata-parent="#accordion" href="#collapseOne") What is a chatbot and what is it for?
      div#collapseOne.panel-collpase.collpase.in
        .panel-body
          p.
            “A computer program designed to simulate conversation with human users, especially over the Internet.”
    .panel.panel-default
      .panel-heading
        h4.panel-title
          a(class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo") Is account registration required?
      div#collapseTwo.panel-collpase.collpase.in
        .panel-body
          p.
            Account registration at Comparethchatbot.com is only required if you will be adding or reviewing a chatbot.
    .panel.panel-default
      .panel-heading
        h4.panel-title
          a(class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree") How many chatbots can I compare?
      div#collapseThree.panel-collpase.collpase.in
        .panel-body
          p.
            At the moment you are only allowed to compare two chatbots at the same time. Future functionalities will allow you to compare more.