extends layout

block content
  .container
    div#accordion.panel-group
    h1 General questions
    .panel.panel-default
      .panel-heading
        h4.panel-title
          a(class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne") Is account registration required?
      div#collapseOne.panel-collpase.collpase.in
        .panel-body
          p.
            Account registration at Comparethchatbot.com is only required if you will be adding or reviewing a chatbot.
